extends layout

block scripts
    script(type='text/javascript', src="/javascripts/timer.js")
    script(type='text/javascript', src="/javascripts/quiz.js")
    script(type='text/javascript', src="/javascripts/mustache.js")
    script(type='text/javascript', src="/javascripts/controller.js")
    script.
        new Controller(!{data}).execute();

block content
    h1(class='title')= firstname + ' ' + lastname
    span(class='timers')
        - for(var i = 0; i < questions; i+=1) {
            div(id="timer_#{i}", class="timer")= '-'
        -}
    div(class='clear')
    div(id='content')

    input(type='button', id='next', value='Ответить')

    script(id='template', type='x-tmpl-mustache')
        div(class='step')
            div(class='question')='{{text}}'
            {{#answers}}
            div(class='answer')
                input(type='radio', name='answer', value='{{id}}', id='answer_{{id}}')
                label(for='answer_{{id}}')= '{{text}}'
            {{/answers}}
