extends layout
block content
    h1(class='title')= 'Регистрация'
    div(class='register')
        form(action='/quiz', method='POST')
            input(type='hidden', name='guid', value='#{guid}')
            div(class='inputblock')
                div(class='label')
                    label(for='firstname')= 'Фамилия:'
                div(class='input')
                    input(type='text', name='firstname', id='firstname')

            div(class='clear')

            div(class='inputblock')
                div(class='label')
                    label(for='lastname')= 'Имя:'
                div(class='input')
                    input(type='text', name='lastname', id='lastname')

            div(class='clear')

            div(class='inputblock')
                div(class='label')
                    label(for='fathername')= 'Отчество:'
                div(class='input')
                    input(type='text', name='fathername', id='fathername')

            div(class='clear')

            div(class='inputblock')
                div(class='label')
                    label(for='position')= 'Должность:'
                div(class='input')
                    input(type='text', name='position', id='position')

            div(class='clear')

            div(class='inputblock')
                div(class='label')
                    label(for='place')= 'Место:'
                div(class='input')
                    input(type='text', name='place', id='place')

            div(class='clear')

            div(class='inputblock roles')
                - each role in roles
                    div
                        input(type='radio', name='roleId', value='#{role.id}', id='role_#{role.id}')
                        label(for='role_#{role.id}')= role.value

            div(class='start')
                input(type='submit', value='Начать')

